{
  "rules": {
    "no-unexpected-multiline": 2,
    "dot-notation": 2,
    "semi": 2,
    "eqeqeq": [2,"smart"],

    "arrow-parens": 2,
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-empty-pattern": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "prefer-arrow-callback": 2,
    "prefer-reflect": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "require-yield": 2
  },
  "ecmaFeatures": {
    "modules": true,
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "globals": {
  }
}
