h1 {
    text-align: center;
}
.centerize {
    display: flex;
    justify-content: center;
}
#apps {
    list-style: none;
    padding-left: 0px;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 6px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}
#apps > li {
    width: 120px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#apps > li img {
    width: 80px;
    height: 80px;
    transition: all .3s;
}
#apps > li img:hover {
    width: 100px;
    height: 100px;
}
#apps > li > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
#apps > li > div:nth-child(2) {
    font-size: 12px;
}
